#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define BASE  0
#define NAV   1
#define SYM   2
#define NUM   3
#define FUN   4
#define MAINT 5

&mmv_input_listener {
    input-processors = <&zip_xy_scaler 2 1>;
};

&msc_input_listener {
    input-processors = <&zip_scroll_scaler 2 1>;
};

&msc {
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <100>;
    delay-ms = <0>;
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&lt {
    tapping-term-ms = <200>;
};

&sl {
    release-after-ms = <2000>;
};

/ {
    macros {
        snip: snip {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LG(LS(S))>;
            label = "SNIP";
        };

        paste_values: paste_values {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LALT>
                , <&macro_tap &kp V>
                , <&macro_release &kp LALT &kp LCTRL>
                , <&macro_tap &kp V>
                , <&macro_tap &kp ENTER>
                ;
            label = "PASTE_VALUES";
        };

        excel_filter: excel_filter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(LS(L))>;
            label = "EXCEL_FILTER";
        };
    };

    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&kp>;
        };

        edit_hold: edit_hold {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&kp>;
        };

        b_paste_values: b_paste_values {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            bindings = <&paste_values>, <&kp>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
        tap-ms = <100>;
    };

    keymap {
        compatible = "zmk,keymap";

        /*
         * Each finger row is split across three lines:
         * left half, center/joystick, right half.
         * The final two lines are the left and right thumbs.
         */

        default_layer {
            display-name = "QWERTY";
            bindings = <
                &kp TAB  &kp Q  &kp W  &kp E  &kp R  &kp T
                    &kp PG_UP
                &kp Y  &kp U  &kp I  &kp O  &kp P  &kp DEL

                &kp LALT  &kp A  &hm LSHFT S  &hm LCTRL D  &lt NAV F  &kp G
                    &kp LA(LEFT)  &kp F2  &kp LA(RIGHT)
                &kp H  &kp J  &hm LCTRL K  &hm LSHFT L  &kp SEMI  &kp SQT

                &kp ESC  &edit_hold LC(Z) Z  &edit_hold LC(X) X  &edit_hold LC(C) C  &edit_hold LC(V) V  &b_paste_values 0 B
                    &none  &kp PG_DN
                &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &mo FUN

                &kp LGUI  &mo NUM  &kp SPACE
                &kp ENTER  &sl SYM  &kp BSPC
            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        nav_layer {
            display-name = "NAV";
            bindings = <
                &to BASE  &kp LC(T)  &kp LC(W)  &kp LC(LS(T))  &kp LC(R)  &kp LC(L)
                    &kp HOME
                &trans  &kp PG_UP  &kp UP  &kp PG_DN  &kp END  &kp DEL

                &trans  &kp LGUI  &kp LSHFT  &kp LCTRL  &trans  &kp LC(F)
                    &kp LA(LEFT)  &kp ENTER  &kp LA(RIGHT)
                &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &kp LC(BSPC)  &kp LC(DEL)

                &trans  &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(A)
                    &none  &trans
                &kp HOME  &kp END  &kp LC(BSPC)  &kp LC(DEL)  &kp LC(S)  &kp PRINTSCREEN

                &trans  &trans  &trans
                &trans  &trans  &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        /*
         * Selenium symbol positions, with custom home-row mods.
         * Comma and period remain available on the outer right column.
         */
        sym_layer {
            display-name = "SYMBOL";
            bindings = <
                &to BASE  &kp CARET  &kp LS(COMMA)  &kp LS(DOT)  &kp DLLR  &kp PRCNT
                    &trans
                &kp AT  &kp AMPS  &kp ASTRK  &kp SQT  &kp GRAVE  &kp DEL

                &kp LALT  &kp LBRC  &hm LSHFT LPAR  &hm LCTRL RPAR  &kp RBRC  &kp EQUAL
                    &trans  &trans  &trans
                &kp BSLH  &kp PLUS  &hm LCTRL MINUS  &hm LSHFT FSLH  &kp LS(SQT)  &kp COMMA

                &trans  &kp TILDE  &kp LBKT  &kp RBKT  &kp LS(MINUS)  &kp HASH
                    &none  &trans
                &kp PIPE  &kp EXCL  &kp SEMI  &kp LS(SEMI)  &kp LS(FSLH)  &kp DOT

                &kp LGUI  &mo NUM  &kp SPACE
                &kp ENTER  &trans  &kp BSPC
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        /*
         * NUM follows SYM so numbers take priority when both are held.
         * Extra F4 is at V; zero is on the right middle thumb.
         */
        num_layer {
            display-name = "NUMBER";
            bindings = <
                &to BASE  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5
                    &kp LC(UP)
                &kp PLUS  &kp N7  &kp N8  &kp N9  &kp FSLH  &kp EQUAL

                &kp LALT  &kp F6  &hm LSHFT F7  &hm LCTRL F8  &kp F9  &kp F10
                    &kp LC(LEFT)  &kp F2  &kp LC(RIGHT)
                &kp MINUS  &kp N4  &hm LCTRL N5  &hm LSHFT N6  &kp ASTRK  &kp MINUS

                &trans  &kp F11  &kp F12  &trans  &kp F4  &trans
                    &none  &kp LC(DOWN)
                &kp COMMA  &kp N1  &kp N2  &kp N3  &kp DOT  &kp ENTER

                &kp LGUI  &trans  &kp SPACE
                &kp ENTER  &kp N0  &kp BSPC
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        fun_layer {
            display-name = "TOOLS";
            bindings = <
                &to BASE  &snip  &kp LG(E)  &kp LG(D)  &kp LG(R)  &kp LG(L)
                    &trans
                &none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4

                &studio_unlock  &trans  &kp LC(A)  &kp LC(C)  &kp LC(V)  &kp LC(Z)
                    &trans  &trans  &trans
                &out OUT_TOG  &rgb_ug RGB_TOG  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &none

                &trans  &out OUT_USB  &out OUT_BLE  &excel_filter  &kp LA(TAB)  &kp ESC
                    &none  &trans
                &kp PRINTSCREEN  &trans  &trans  &trans  &none  &trans

                &mo MAINT  &trans  &trans
                &trans  &trans  &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        /*
         * Enter from TOOLS by holding the left Windows thumb.
         * Q: restart, W: bootloader,
         * E: clear current BT profile, R: clear all BT profiles.
         */
        maintenance_layer {
            display-name = "MAINT";
            bindings = <
                &none  &sys_reset  &bootloader  &bt BT_CLR  &bt BT_CLR_ALL  &none
                    &none
                &none  &none  &none  &none  &none  &none

                &none  &none  &none  &none  &none  &none
                    &none  &none  &none
                &none  &none  &none  &none  &none  &none

                &none  &none  &none  &none  &none  &none
                    &none  &none
                &none  &none  &none  &none  &none  &trans

                &trans  &none  &none
                &none  &none  &none
            >;
            sensor-bindings = <&scroll_encoder>;
        };
    };
};
